.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.75rem 1rem;
    border: 1px solid transparent;
    cursor: pointer;
    transition: background-color 0.2s;
    background-color: #0d6efd;
    color: white;
}

.button:hover{
    background-color: #0b5ed7;
}