

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f2f5; 
  }
  
  .mainContent {
    flex-grow: 1; 
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 2rem; 
  }